doctype html
html.flexbox(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
  head
    link(rel='shortcut icon', href='//theme.hstatic.net/1000253775/1000557631/14/favicon.png?v=194', type='image/png')
    title
      | PAPAZI - Đơn hàng 160S652435
    link(href="/stylesheets/checkout.css" rel="stylesheet" type="text/css" media="all")
    script(src="/js/jquery.min.js" type="text/javascript")
    script(src="/js/jquery.validate.js" type="text/javascript")
    style.
      .mainbar-qr h2 {
      text-align: center;
      font-size: 16px;
      margin-bottom: 30px;
      font-weight: 500;
      color: #212121;
      }
      .mainbar-info .mainbar-qr_section {
      text-align: center;
      }
      .mainbar-info .mainbar-qr_section .count_time {
      margin-bottom: 10px;
      margin-top: 30px;
      }
      .mainbar-info .mainbar-qr_section .count_time .time-out {
      color: #008fe5;
      }
      .mainbar-info .mainbar-qr_section .count_time .count_text {
      margin-bottom: 10px;
      }
      .mainbar-info .mainbar-qr_section .count_time .time {
      display: inline-block;
      position: relative;
      font-style: italic;
      font-size: 12px;
      }
      .mainbar-info .mainbar-qr_section .count_time .time i {
      width: 10px;
      height: 10px;
      border: 1px solid #333;
      border-bottom-color: transparent;
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: -14px;
      margin-top: -6px;
      margin-left: -6px;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
      filter: alpha(opacity=0);
      -webkit-animation: rotate 0.5s linear infinite;
      animation: rotate 0.5s linear infinite;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
      filter: alpha(opacity=100);
      }
      .mainbar-info .mainbar-qr_instruction {
      max-width: 300px;
      margin: auto;
      text-align: center;
      color: #212121;
      line-height: 24px;
      }
      form#form_update_shipping_method {
      position: relative;
      }
      .order-checkout__loading {
      position: static;
      }
      .order-checkout__loading--box {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: flex;
      opacity: 0;
      visibility: hidden;
      justify-content: center;
      align-items: center;
      padding: 0;
      }
      .order-checkout__loading--box.show {
      z-index: 2;
      visibility: visible;
      opacity: 1;
      }
      .order-checkout__loading--circle {
      border: 2px solid #f3f3f3;
      border-top: 2px solid #5cabe0;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin: 0;
      -webkit-transform-origin: 50%;
      -o-transform-origin: 50%;
      -ms-transform-origin: 50%;
      transform-origin: 50%;
      -moz-animation: spin 700ms infinite linear;
      -ms-animation: spin 1.5s infinite linear;
      -webkit-animation: spin 700ms infinite linear;
      -o-animation: spin 700ms infinite linear;
      animation: spin 700ms infinite linear;
      z-index: 1;
      }
      .order-checkout__loading--box.show:after {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 3;
      }
      .step-sections {
      position: relative;
      z-index: 3;
      }
      @media (max-width: 767px) {
      .order-checkout__loading--box {
      position: fixed;
      }
      .order-checkout__loading--box.show:after {
      display: none;
      }
      }
      .order-checkout__loading--show .order-checkout__loading--box {
      display: block;
      }
      @-moz-keyframes spin {
      100% {
      -moz-transform: rotate(360deg);
      }
      }
      @-webkit-keyframes spin {
      100% {
      -webkit-transform: rotate(360deg);
      }
      }
      @keyframes spin {
      100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      }
      }
      .redeem-login {
      display: flex;
      align-items: center;
      justify-content: space-between;
      }
      .redeem-login-title {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      }
      .redeem-login-title h2 {
      color: #333;
      margin-right: 5px;
      }
      .redeem-login-btn a {
      display: inline-block;
      border-radius: 4px;
      font-weight: 500;
      padding: 13px 10px;
      background: #338dbc;
      color: #fff;
      width: 82px;
      text-align: center;
      }
      .redeem-form-used {
      padding-top: 10px;
      }
      .btn-redeem-loading .btn-redeem-spinner {
      -webkit-animation: rotate 0.5s linear infinite;
      animation: rotate 0.5s linear infinite;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
      filter: alpha(opacity=100);
      }
      .icon-redeem-button-spinner {
      position: absolute;
      top: 0;
      opacity: 0;
      right: -25px;
      width: 12px;
      height: 12px;
      border: 2px solid #999999;
      border-bottom-color: transparent;
      border-radius: 100%;
      }
      .total-line-table-footer {
      white-space: nowrap;
      }
      .row-align-top {
      vertical-align: top;
      }
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no')
    script.
      !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ?
                  n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window, document, 'script',
              'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '362099025023763');
      fbq('track', 'PageView');
    noscript
      img(height = '1' width = '1' style = 'display:none' src = 'https://www.facebook.com/tr?id=362099025023763&ev=PageView&noscript=1')

  body
    script.
      var order = '{"total_price": !{cart.total_price}, "items": !{JSON.stringify(cart.items.map(x => {x.quantity = x.qty; return x;}))}}';

      order = JSON.parse(order);
      fbq('track', 'Purchase',
        // begin parameter object data
        {
          value: order.total_price,
          currency: 'VND',
          contents: order.items,
          content_type: 'product'
        }
        // end parameter object data
      );
    .banner
      .wrap
        a.logo(href='/')
          h1.logo-text PAPAZI
    button.order-summary-toggle.order-summary-toggle-hide
      .wrap
        .order-summary-toggle-inner
          .order-summary-toggle-icon-wrapper
            svg.order-summary-toggle-icon(width='20', height='19', xmlns='http://www.w3.org/2000/svg')
              path(d='M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z')
          .order-summary-toggle-text.order-summary-toggle-text-show
            span Hiển thị thông tin đơn hàng
            svg.order-summary-toggle-dropdown(width='11', height='6', xmlns='http://www.w3.org/2000/svg', fill='#000')
              path(d='M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z')
          .order-summary-toggle-text.order-summary-toggle-text-hide
            span Ẩn thông tin đơn hàng
            svg.order-summary-toggle-dropdown(width='11', height='7', xmlns='http://www.w3.org/2000/svg', fill='#000')
              path(d='M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z')
            .order-summary-toggle-total-recap(data-checkout-payment-due-target=cart.total_price)
                span.total-recap-final-price=formatWithCommas(cart.total_price)
    .content.content-second
      .wrap
        .sidebar.sidebar-second
          .sidebar-content
            .order-summary
              .order-summary-sections
    .content
      .wrap
        .sidebar
          .sidebar-content
              .order-summary.order-summary-is-collapsed
                  h2.visually-hidden Thông tin đơn hàng
                  .order-summary-sections
                      include templates/checkout/sidebar-items.pug
                      include templates/checkout/sidebar-total.pug
        .main
          .main-header
            a.logo(href='/')
              h1.logo-text PAPAZI
          .main-content
            div
              .section
                .section-header.os-header
                  svg.hanging-icon.checkmark(width='50', height='50', xmlns='http://www.w3.org/2000/svg', fill='none', stroke='#000', stroke-width='2')
                    path.checkmark_circle(d='M25 49c13.255 0 24-10.745 24-24S38.255 1 25 1 1 11.745 1 25s10.745 24 24 24z')
                    path.checkmark_check(d='M15 24.51l7.307 7.308L35.125 19')
                  .os-header-heading
                    h2.os-header-title
                      | Đặt hàng thành công
                    span.os-order-number
                      | Mã đơn hàng ##{info.order_id}
                    span.os-description
                      | Cám ơn bạn đã mua hàng!
              .thank-you-additional-content
                | Cám ơn bạn đã đặt hàng! Nhân viên PAPAZI sẽ gọi điện thoại xác nhận. Vui lòng đợi chúng tôi nhé !
                b VUI LÒNG KIỂM TRA EMAIL
                
              .section.thank-you-checkout-info
                .section-content
                  .content-box
                    .content-box-row.content-box-row-padding.content-box-row-no-border
                      h2 Thông tin đơn hàng
                    .content-box-row.content-box-row-padding
                      .section-content
                        .section-content-column
                          h3 Thông tin giao hàng
                          p
                            | #{info.customer_name}
                            br
                            |  #{info.ship_address}
                            br
                            |  #{info.Ward.name}
                            br
                            |  #{info.Ward.District.name}
                            br
                            |   #{info.Ward.District.Province.name}
                            br
                            |  Vietnam
                            br
                            |  #{info.customer_phone}
                            br
                          h3 Phương thức thanh toán
                          p
                            |  #{info.ShippingPayment.value}
                          h3 Ghi chú
                          p
                            |  #{info.order_description}
              .step-footer
                a.step-footer-continue-btn.btn(href='/')
                  span.btn-content Tiếp tục mua hàng
                p.step-footer-info
                  i.icon.icon-os-question
                  span
                    | Cần hỗ trợ? 
                    a(href='mailto:cod@papazi.com') Liên hệ chúng tôi
          .main-footer
