extends ../layout.pug

block content
    #product.product-detail-page.product-template(data-style='style_01')
        .container-fluid
            .row.breadcrumb-shop
                .col-lg-12.col-md-12.col-sm-12.col-xs-12.pd5
                    ol.breadcrumb.breadcrumb-arrows
                        li
                            a(href='/' target='_self') Trang chủ
                        li.active
                            span  #{ product.name }
            .row.product-detail-wrapper
                .col-md-12.col-sm-12.col-xs-12
                    .row.product-detail-main.pr_style_01
                        .col-md-8.col-sm-12.col-xs-12
                            //.hidden-md.hidden-lg
                            //    .product-full-img
                            //        img.product-image-feature(src=product.avatar alt=product.name)
                            //    if listSlides && listSlides.length > 0
                            //        #carousel.flexslider
                            //            ul.slides
                            //                each slide, index in listSlides
                            //                    li(class={ 'product-thumb': true, 'checked': index == 0 })
                            //                        a(href='#' data-image=slide.image data-zoom-image=slide.image)
                            //
                            //                            img(src=slide.image data-image=slide.image alt='')
                            .product-gallery
                                .slider-product-thumb
                                    //if listSlides && listSlides.length > 0
                                    //    .product-slider-thumb.thumb-fix.owl-carousel
                                    //        each slide, index in listSlides
                                    //            div(class={ 'product-gallery__thumb': true, 'active': index })
                                    //                a(href='javascript:void(0);' data-image=slide.image data-zoom-image=slide.image)
                                    //                    img(alt=product.name src=slide.image data-image=slide.image)
                                .product-image-detail
                                    if listSlides && listSlides.length > 0
                                        ul#sliderproduct.site-box-content.slide-product.owl-carousel
                                            each slide, index in listSlides
                                                li.product-gallery-item.gallery-item
                                                    a(data-fancybox="gallery" href=slide.image)
                                                        img.product-image-feature(src=slide.image alt=product.name)
                                    .product-image__button
                                        #product-zoom-in.product-zoom.icon-pr-fix(aria-label='Zoom in' title='Zoom in')
                                            span.zoom-in(aria-hidden='true')
                                                svg(version='1.1' xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 36 36' style='enable-background:new 0 0 36 36; width: 30px; height: 30px;', xml:space='preserve')
                                                    polyline(points='6,14 9,11 14,16 16,14 11,9 14,6 6,6 ')
                                                    polyline(points='22,6 25,9 20,14 22,16 27,11 30,14 30,6 ')
                                                    polyline(points='30,22 27,25 22,20 20,22 25,27 22,30 30,30 ')
                                                    polyline(points='14,30 11,27 16,22 14,20 9,25 6,22 6,30 ')
                        #detail-product.col-md-4.col-sm-12.col-xs-12.product-content-desc
                            .product-title
                                h1 #{ product.name }
                                span#pro_sku
                                    strong Mã sản phẩm:
                                    span.sku-number #{ product.sku }
                            #price-preview.product-price.pdPrice
                                span.pro-price !{ product.price }
                                if product.price != product.old_price
                                    span.pro-price-del
                                        del.compare-price #{ product.old_price }
                            form#add-item-form.variants.clearfix(action='/cart/add' method='post')
                                if combinationAttribute && combinationAttribute.length > 0
                                    .product-swatch-content.clearfix
                                        .select-swatch.clearfix
                                            each attribute, index in combinationAttribute
                                                #variant-swatch-0.swatch.clearfix.color.swFirst(data-option="option"+(index+1)  data-option-index=index)
                                                    .header(data-attribute=`swatch${attribute.attribute_name}`) #{ attribute.attribute_name }
                                                    .select-swap
                                                        if attribute.child && attribute.child.length > 0
                                                            each entity, index in attribute.child
                                                                .swatch-element.color.den-icdn(class=`variant-${attribute.attribute_id} swatch-${entity.entity_id}` data-variant=`variant-${attribute.attribute_id}` data-name=`${entity.entity_name}` data-id=`${entity.entity_id}`)
                                                                    input(class=`variant-${attribute.attribute_id}` id=`swatch-${entity.entity_id}` type="radio" name=`option${attribute.attribute_id}` value=`${entity.entity_id}`)
                                                                    if entity.avatar
                                                                        label(class={ 'lbSwatch den-icdn': true, 'has-thumb': entity.avatar } for='swatch-0-den-icdn' style=`background: url(${ entity.avatar }) center left no-repeat`)
                                                                            span #{ entity.entity_name }
                                                                            img.crossed-out(alt='sold-out' src='/images/soldout.png')
                                                                            img.img-check(alt='select-pro' src='/images/select-pro.png')
                                                                    else
                                                                        label.lbSwatch.den-icdn(for='swatch-0-den-icdn' )
                                                                            p.text-entity-name #{ entity.entity_name }
                                                                            img.crossed-out(alt='sold-out' src='/images/soldout.png')
                                                                            img.img-check(alt='select-pro' src='/images/select-pro.png')
                                        .hdchonsize.clearfix
                                            svg.ruler-icon.base(aria-hidden='true')
                                                use(xlink:href='#ruler-icon')
                                                    svg#ruler-icon(viewbox='0 0 17 8' width='100%' height='100%')
                                                        path(fill='#FFF' d='M1 5h15v2H1z')
                                                        path(d='M17 4H0v4h17V4')
                                                        path(fill='#FFF' d='M.5 2.5h4v1h-4z')
                                                        path(d='M5 2H0v2h5V2')
                                                        path(fill='#FFF' d='M12.5 2.5h4v1h-4z')
                                                        path(d='M17 2h-5v2h5V2')
                                                        path(fill='#FFF' d='M6.5 2.5h4v1h-4z')
                                                        path(d='M11 2H6v2h5V2')
                                                        path(fill='#FFF' d='M15.5.5h1v1h-1z')
                                                        path(d='M17 0h-2v2h2V0')
                                                        path(fill='#FFF' d='M12.5.5h1v1h-1z')
                                                        path(d='M14 0h-2v2h2V0')
                                                        path(fill='#FFF' d='M9.5.5h1v1h-1z')
                                                        path(d='M11 0H9v2h2V0')
                                                        path(fill='#FFF' d='M6.5.5h1v1h-1z')
                                                        path(d='M8 0H6v2h2V0')
                                                        g
                                                            path(fill='#FFF' d='M3.5.5h1v1h-1z')
                                                            path(d='M5 0H3v2h2V0')
                                                        g
                                                            path(fill='#FFF' d='M.5.5h1v1h-1z')
                                                            path(d='M2 0H0v2h2V0')
                                                    use(xlink:href='#ruler-icon')
                                            a(href='#sizeModal' data-toggle='modal') Hướng dẫn chọn size
                                input.inputAddCart(type='hidden' value=`${ product.id }`)
                                .selector-actions
                                    .quantity-area.clearfix
                                        input.qty-btn.minus(type='button' value='-')
                                        input#quantity.quantity-selector(type='text' name='quantity' value='1' min='1')
                                        input.qty-btn.plus(type='button' value='+')
                                    .wrap-addcart.clearfix
                                        button#add-to-cart.btnAddToCart.add-to-cartProduct.button.dark.btn-addtocart.addtocart-modal(type='button' name='add')
                                            | Đặt hàng
                                        button#view-store.active.add-to-cartProduct.button.dark.btn-addtocart(type='button')
                                            img.availableIcon(src='/images/store.svg' alt='Available Store')
                                            span Xem cửa hàng
                                .product-action-bottom.visible-xs
                                    .input-bottom
                                        input#quan-input(type='number' value='1' min='1')
                                    button#add-to-cartbottom.add-to-cartProduct.add-cart-bottom.button.dark.addtocart-modal(type='button' name='add')
                                        | Đặt hàng
                            .product-description
                                .title-bl
                                    h2 MÔ TẢ
                                .description-content
                                    .description-productdetail.content
                                        | !{product.description}

                                .title-bl.des-more
                                    h2.toggle-dropdown CHÍNH SÁCH GIAO NHẬN - ĐỔI TRẢ HÀNG
                                    .des-more-content.display-none
                                        | - Free ship cho đơn hàng trên 500,000đ.<br/>
                                        | - Mức phí: 30, 000đ cho đơn hàng dưới 500,000đ<br/>
                                        | - Được kiểm tra hàng trước khi nhận hàng<br/>
                                        | - Đổi / Trả trong vòng 10 ngày kể từ khi nhận hàng<br/>
                                        | - Không áp dụng đổi / trả sản phẩm trong CTKM<br/>
                                        | - Miễn phí đổi trả nếu lỗi sai sót từ phía PAPAZI.VN<br/>
                                        | - Trường hợp có nhu cầu muốn đổi size A / C sẽ chiu 50 % phí ship đổi hàng.<br/>
                                        | - Địa chỉ gửi đổi hàng online: 123 Mạc Thị Bưởi - P Thành Công - TP BMT<br/>
                                        | - Không hỗ trợ đổi trả đối với các sản phẩm boxer, khẩu trang, tất vớ,...<br/>
                    //.info-des-product
                    //    .policy.clearfix
                    //        .col-md-4.col-sm-4.col-xs-12
                    //            .policy-item
                    //                h4
                    //                    | CHÍNH SÁCH GIAO NHẬN - ĐỔI TRẢ HÀNG
                    //                    span.icon-open.visible-xs
                    //                .content
                    //                    | - Free ship cho đơn hàng trên 500,000đ.
                    //                    br
                    //                    | – Mức phí: đồng giá 30k
                    //                    br
                    //                    | – Được kiểm tra hàng trước khi nhận hàng
                    //                    br
                    //                    | – Đổi / Trả trong vòng 7 ngày kể từ khi nhận hàng
                    //                    br
                    //                    | – Không áp dụng đổi/trả sản phẩm trong CTKM
                    //                    br
                    //                    | – Miễn phí đổi trả nếu lỗi sai sót từ phía papazi.vn
                    //                    br
                    //                    | – Địa chỉ gửi đổi hàng online:
                    //                    br
                    //                    | 123 Mạc Thị Bưởi – TP Buôn Ma Thuộc
                    //                    br
                    //        .col-md-4.col-sm-4.col-xs-12
                    //            .policy-item
                    //                h4
                    //                    | ƯU ĐÃI MEMBER
                    //                    span.icon-open.visible-xs
                    //                .content
                    //                    | - ƯU ĐÃI MEMBER THÀNH VIÊN KHI TÍCH LŨY ĐỦ SỐ TIỀN
                    //                    br
                    //        .col-md-4.col-sm-4.col-xs-12
                    //            .policy-item
                    //                h4
                    //                    | ĐỊA CHỈ CỬA HÀNG
                    //                    span.icon-open.visible-xs
                    //                .content
                    //                    | ■ Dak lak : 123 Mạc Thị Bưởi – TP BMT
                    //                    br
                    //
                    //
                    //.info-bellow-product.box-icon.col-md-12.col-xs-12
                    //    .col-md-4.col-sm-4.col-xs-12
                    //        .banner-footer-item
                    //            img(src='/images/info_img_1.png')
                    //            .banner-footer-item-info
                    //                p.banner-footer-item-title FREE SHIP ĐƠN HÀNG TỪ 500.000Đ
                    //                p.banner-footer-item-des
                    //    .col-md-4.col-sm-4.col-xs-12
                    //        .banner-footer-item
                    //            img(src='/images/info_img_2.png')
                    //            .banner-footer-item-info
                    //                p.banner-footer-item-title ĐỔI TRẢ TRONG VÒNG 7 NGÀY
                    //                p.banner-footer-item-des
                    //    .col-md-4.col-sm-4.col-xs-12
                    //        .banner-footer-item
                    //            img(src='/images/info_img_3.png')
                    //            .banner-footer-item-info
                    //                p.banner-footer-item-title THANH TOÁN KHI NHẬN HÀNG
                    //                p.banner-footer-item-des
                    .products-related.wrapper-collection-sale.viewed-product
                        if viewedProducts && viewedProducts.length > 0
                            .heading-title.text-center
                                h2 Sản Phẩm Đã Xem
                            .products-related-carousel.owl-carousel
                                each product, index in viewedProducts
                                    .pro-loop
                                        .product-block.product-resize.site-animation(data-anmation=index + 1)
                                            .product-img
                                                a.image-resize(href=product.slug title=product.name)
                                                    picture
                                                        source(media='(max-width: 767px)' srcset=product.avatar)
                                                        source(media='(min-width: 768px)' srcset=product.avatar)
                                                        img.img-loop(alt=product.name src=product.avatar)
                                                    picture
                                                        source(media='(max-width: 767px)' srcset=product.avatar)
                                                        source(media='(min-width: 768px)' srcset=product.avatar)
                                                        img.img-loop.img-hover(alt=product.name src=product.avatar)
                                                .button-add.hidden
                                                    button.action(type='submit' title='Mua ngay' onclick="buy_now(1)")
                                                        | Mua ngay
                                                        i.fa.fa-long-arrow-right
                                            .product-detail.clearfix
                                                .box-pro-detail
                                                    h3.pro-name
                                                        a(href=product.slug title=product.name)
                                                            | #{ product.name }
                                                    .box-pro-prices
                                                        p.pro-price
                                                            span.giaban #{ product.price }₫
                    .products-related.wrapper-collection-sale
                        if relatedProducts && relatedProducts.length > 0
                            .heading-title.text-center
                                h2 Bạn có thể thích
                            .products-related-carousel.owl-carousel
                                each product, index in relatedProducts
                                    .pro-loop
                                        .product-block.product-resize.site-animation(data-anmation=index + 1)
                                            .product-img
                                                a.image-resize(href=product.slug title=product.name)
                                                    picture
                                                        source(media='(max-width: 767px)' srcset=product.avatar)
                                                        source(media='(min-width: 768px)' srcset=product.avatar)
                                                        img.img-loop(alt=product.name src=product.avatar)
                                                    picture
                                                        source(media='(max-width: 767px)' srcset=product.avatar)
                                                        source(media='(min-width: 768px)' srcset=product.avatar)
                                                        img.img-loop.img-hover(alt=product.name src=product.avatar)
                                                .button-add.hidden
                                                    button.action(type='submit' title='Mua ngay' onclick="buy_now(1)")
                                                        | Mua ngay
                                                        i.fa.fa-long-arrow-right
                                            .product-detail.clearfix
                                                .box-pro-detail
                                                    h3.pro-name
                                                        a(href=product.slug title=product.name)
                                                            | #{ product.name }
                                                    .box-pro-prices
                                                        p.pro-price
                                                            span.giaban #{ product.price }₫

    #divzoom
        if listSlides && listSlides.length > 0
            .divzoom_main
                each slide, index in listSlides
                    .product-thumb.text-center
                        img.product-image-feature(src=slide.image alt=product.name)
            #positionButtonDiv.hidden
                p
                    span
                        button.buttonZoomIn(type='button')
                            i
                        button.buttonZoomOut(type='button')
                            i
            button#closedivZoom
                i
    
    script.
        var entityAttribute = '!{entityAttribute}';

        entityAttribute = JSON.parse(entityAttribute);

        var productJson = {}
        $(document).ready(function(){
            var categoryId = $('#huong-dan-chon-size').data('category');
            $('select#huong-dan-chon-size option').each(function(){
                if($(this).data('id').includes(categoryId))
                    $(this).prop('selected',true);
            });

            $(`.size-option.o${$('select#huong-dan-chon-size option:selected').val()}`).addClass('active')

            $('select#huong-dan-chon-size').change(function (e){
                $('.size-option').removeClass('active')
                $(`.size-option.o${$('select#huong-dan-chon-size option:selected').val()}`).addClass('active')
            })
            function generateSizes(color) {
                var $pick_size = $('#pick-size');
                $pick_size.html('');
                for(var k = 0; k < productJson.variants.length; k++){
                    if(productJson.variants[k].option1 == color && productJson.variants[k].available == true){
                        $pick_size.append('<option value="' + productJson.variants[k].id + '">' + productJson.variants[k].option2 + '</option>')
                    }
                }
                return $pick_size.val();
            }

            function slug(str) {
                if (str) {
                    str = str.toLowerCase();
                    str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
                    str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
                    str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
                    str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
                    str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
                    str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
                    str = str.replace(/đ/g, "d");
                    str = str.replace(/!|@|%|\\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'| |\"|\&|\#|\[|\]|~|$|_/g, "-");
                    str = str.replace(/-+-/g, "-");
                    str = str.replace(/^\\-+|\-+$/g, "");
                    return str;
                }
            }
            $('#view-store').click(function (e){

                $('#showStore').modal('show');
                jQuery('.modal-backdrop').css({'height': jQuery(document).height(), 'z-index': '99'});
                var swatchArr = '';

                $('.select-swatch .swatch').each(function () {
                    var swatchElemenetArr = '';
                    var headerSwatch = $(this).find('.header')

                    $(this).find('.select-swap .swatch-element').each(function () {
                        var swatchElementData = $(this).data();
                        swatchElemenetArr += `<option value="${swatchElementData.id}">
                                                    ${swatchElementData.name}
                                               </option>`
                    })
                    swatchArr += `<div class="form-group col-sm-6 col-xs-12">
                                    <label for="${headerSwatch.data('attribute')}">${headerSwatch.text()}</label>
                                    <select class="form-control" id="${headerSwatch.data('attribute')}">
                                        ${swatchElemenetArr}
                                    </select>
                                  </div>`
                });
                $('.deatail-info').html(swatchArr)
            })


            $('.carousel-nav').flickity({
                asNavFor: '#sliderproduct',
                contain: true,
                pageDots: false
            });
            /*$('#buy-now').click(function(e){
            e.preventDefault();
            Nhathoang.addItem($('.inputAddCart').val(), parseInt($('#quantity').val()), function(){
            window.location = '/checkout';
            })
            });*/
            $('#add-to-cart').click(function(e){
                e.preventDefault();
                let combinationId = '';
                $(this).addClass('clicked_buy');

                $('.swatch .select-swap').each(function(i){
                    if(!$(this).find('.swatch-element input[type="radio"]:checked') || $(this).find('.swatch-element input[type="radio"]:checked').length < 1){
                        combinationId = 'err';
                        hasCheckedOpion = false;
                        return false;
                    }
                    combinationId = combinationId + '_' + $(this).find('.swatch-element input[type="radio"]:checked').val( );
                });

                //if no attribute
                if(!combinationId){
                    add_item_show_modalCart($('.inputAddCart').val(), null);
                    $('#quantity').val(1);
                }else{
                   
                    if(!entityAttribute[combinationId]){
                        $('#contentModal').modal('show');
                        
                        //$('#contentModal .modal-body p').text('Sản phẩm này hết hàng')
                        return;
                    }
                    add_item_show_modalCart($('.inputAddCart').val(), entityAttribute[combinationId].combination_id);
                    $('#quantity').val(1);
                }
            });
            $('#add-to-cartbottom').click(function(){
                $('#add-to-cart').trigger('click');
            });

            $('[name="quantity"]').on('keyup', function(e){
                if( parseInt($(e.target).val()) > 0){
            
                }else{
                    $(e.target).val(1)
                }
                $(e.target).val($(e.target).val());
            })
        });
        $(document).on("click","#product-zoom-in",function(){
        //	var indexThumb = $(this).index();
            $("body").addClass("open_layer");
            $("#divzoom").css({'opcaity':0,'visibility':'hidden'}).show();
            $('.divzoom_main').flickity({
            resize:true,
            draggable: true,
        });
        if($(window).width() > 768){
            var ncurrent = parseInt($(".gallery-index .current").html()) - 1;
        }
        else{
            var ncurrent = parseInt($(".product-gallery-item.is-selected").index());
        }
        $('.divzoom_main').flickity('select',ncurrent);
            setTimeout(function(){$("#divzoom").css({'opcaity': 1,'visibility':'visible'})},50);
        });
        $(document).on('click','#closedivZoom', function(event) {
            $("#divzoom").hide();
            $("body").removeClass("open_layer");
            $('.divzoom_main').flickity('select',0);
        //$('.divzoom_main').slick('unslick');
        });
    script.
        $(".product-gallery__thumb img").click(function(){
            $(".product-gallery__thumb").removeClass('active');
            $(this).parents('.product-gallery__thumb').addClass('active');
            var img_thumb = $(this).data('image');
            $('html, body').animate({
                scrollTop: $("#sliderproduct img[src='"+img_thumb+"']").offset().top
            }, 1000);
        });
        $(".product-gallery__thumb").first().addClass('active');
    script.
        $(document).ready(function(){
            var vl = $('#add-item-form .swatch .color input').val();
                $('#add-item-form .swatch .color input').parents(".swatch").find(".header span").html(vl);
                $("#add-item-form .select-swap .color" ).hover(function() {
                    var value = $( this ).data("value");
                    $(this).parents(".swatch").find(".header span").html( value );
                },function(){
                var value = $("#add-item-form .select-swap .color label.sd span").html();
                $(this).parents(".swatch").find(".header span").html( value );
            });
        });
    script.
        $(document).ready(function(){
            /*
            $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 108,
            itemMargin: 10,
            });
            */
            $('#carousel .slides').owlCarousel({
                nav: true,
                loop: true,
                margin:10,
                dots:false,
                navText: ['‹' , '›'],
                responsive: {
                    0: {
                        items: 3,
                        autoplay: false
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 4
                    }
                }
            })
            $(".product-thumb a").click(function(e){
                e.preventDefault();
                $(".product-thumb").removeClass('checked');
                $(this).parent().addClass('checked');
                $(".product-image-feature").attr("src",$(this).attr("data-image"));
            });
            $(".policy-item h4").click(function(){
                $(this).find(".icon-open").toggleClass("active");
                $(this).next().slideToggle();
            });
            $(".select-swap .swatch-element").click(function (e) {
                e.preventDefault();

                if(
                    $(this).find('input').attr('disabled') ||
                    $(this).hasClass("checked")
                ) return;
                $(this).parent().children('.swatch-element').removeClass('checked');

                $(`.swatch-element`).addClass('soldout');
                $(`.swatch-element input`).prop({disabled: true});


               
                for(index in entityAttribute){
                    if(entityAttribute[index].count <= 0) continue;
                    const arrIndex = index.split("_");
                    if(index.search($(this).data("id")) != -1){
                        
                        arrIndex.forEach(function(item){
                            $(`.swatch-${item}`).removeClass('soldout');
                            $(`.swatch-${item} input`).attr('disabled', false);
                        })
                    }
                    
                    
                }
                $(`.soldout`).removeClass('checked');
                $(this).addClass('checked');
                $(`.${$(this).data("variant")}`).removeClass('soldout');
                $(`.${$(this).data("variant")} input`).attr('disabled', false);
                $(`#swatch-${$(this).data("id")}`).prop('checked', true);
                
            });
        });
    style.
        #carousel .owl-nav >.owl-prev{
        left: 0;
        }
        #carousel .owl-nav > .owl-next{
        right: 0;
        }
        #carousel .owl-nav >div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: black;
        font-size: 50px;
        /* height: 34px; */
        padding: 0px 14px -4px 14px;
        color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 15px 5px 18px;
        }
        @media only screen and (max-width: 767px) {
        #carousel .owl-nav >div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: black;
        font-size: 31px;
        height: 34px;
        padding: 0px 14px -4px 14px;
        color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 7px 14px 9px;
        }
        }
        #carousel{
            margin-top:10px;
        }
        .text-entity-name{
            margin: 0;
            line-height: inherit;
        }
    #sizeModal.modal.fade.popupModal(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Hướng dẫn chọn size
                .modal-body
                    .contentSize
                        .tab-content
                            select#huong-dan-chon-size.box-select(data-category=product.category)
                                option(value='1' data-id="[1, 15, 21, 22]") Áo thun & Polo
                                option(value='2' data-id="[17, 18]") Quần dài
                                option(value='3' data-id="[19]") Quần lửng
                                option(value='4' data-id="[16]") Áo sơ mi

                            p.size-option.o1
                                img(src="/images/size/ao-thun-ao-polo.jpg")
                            p.size-option.o2
                                img(src="/images/size/phom-quan-dai.jpg")
                            p.size-option.o3
                                img(src="/images/size/phom-quan-lung.jpg")
                            p.size-option.o4
                                img(src="/images/size/ao-so-mi.jpg")
    #showStore.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body.clearfix
                    .col-xs-12.nopadingMobile
                        span.titleStoreModal
                            | DANH S&Aacute;CH C&#x1EEC;A H&Agrave;NG C&Ograve;N S&#x1EA2;N PH&#x1EA8;M N&Agrave;Y
                    .boxImgBigStore.clearfix
                        .col-xs-6.col-sm-3.nopadingMobile
                            img(src=product.avatar alt=product.name)
                        .col-xs-12.col-sm-9.nopadingMobile
                            .infoProductModalStore
                                .nameProductStore #{ product.name }
                                .priceProductStore #{ product.price }
                            .row.deatail-info

                    .form-group.col-sm-12.col-xs-12.nopadingMobile
                        span.numberStore
                    .form-group.col-sm-12.col-xs-12.nopadingMobile
                        #stock-box
                            .stock
                                span.dist
                                    img(src='//theme.hstatic.net/1000360022/1000631931/14/maps-and-flags.png?v=35' alt='icon store')
                                    | Buôn Ma Thuột
                                span.street 117-119 Mạc Thị Bưởi - Phường Thành Công - TP Buôn Ma Thuột - DakLak
                                span.timeStore 08:30-21:30 (Các ngày trong tuần)

    #contentModal.modal.fade.popupModal(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Thông báo
                .modal-body
                    p(style='font-size: 16px;')
                        | Vui lòng chọn size và số lượng
    
    style.
        #detail-product .pro-sale{
        display:none !important;
        }
    script.
        if($('.select-swap .swatch-element.color').length == 1){
            setTimeout(function(){
                $('.select-swap .swatch-element.color input').trigger('click');
            }, 1000)
        }

        var spDataNew = []

        var data = {
            "variantID": "1050560315",
            "variantSKU": "KTPT9001-01",
            "variantTitle": "Xám",
            "variantAvailable": "true",
            "variantPrice": "4000000",
            "variantCompare": "0",
            "variantImage": "//product.hstatic.net/1000253775/product/9d195d44b901415f1810_6d3261e771d241a6bc7186e8c8c7aa70_master.jpg",
            "variantLocations": [
                {
                    "LocationId": "421159",
                    "LocationName": "Chi nhánh Trần Hưng Đạo",
                    "LocationAddress": "391/375 Trần Hưng Đạo, P.Cầu Kho, Q.1, Phường Cầu Kho, Quận 1, Hồ Chí Minh",
                    "Quantity": "26"
                },
                {
                    "LocationId": "421804",
                    "LocationName": "Chi nhánh Hà Nội",
                    "LocationAddress": "Số 2 ngõ 232 Tôn Đức Thắng, P.Hàng Bột, Q.Đống Đa, Hà Nội, Phường Hàng Bột, Quận Đống Đa, Hà Nội",
                    "Quantity": "39"
                },
                {
                    "LocationId": "421810",
                    "LocationName": "Chi nhánh Tô Hiến Thành",
                    "LocationAddress": "297/3 Tô Hiến Thành, P.13, Q.10, Phường 13, Quận 10, Hồ Chí Minh",
                    "Quantity": "4"
                },
                {
                    "LocationId": "421816",
                    "LocationName": "Chi nhánh Khuông Việt",
                    "LocationAddress": "111 Khuông Việt, P.Phú Trung, Q.Tân Phú, Phường Phú Trung, Quận Tân Phú, Hồ Chí Minh",
                    "Quantity": "16"
                },
                {
                    "LocationId": "421819",
                    "LocationName": "Chi nhánh Phan Xích Long",
                    "LocationAddress": "401 Phan Xích Long, P.3, Q.Phú Nhuận, Phường 03, Quận Phú Nhuận, Hồ Chí Minh",
                    "Quantity": "50"
                },
                {
                    "LocationId": "518340",
                    "LocationName": "Kho hàng Tân Phú",
                    "LocationAddress": "Khuông Việt, Phường Phú Trung, Quận Tân Phú, Hồ Chí Minh",
                    "Quantity": "0"
                },
                {
                    "LocationId": "557522",
                    "LocationName": "160 Store",
                    "LocationAddress": "391/375 Trần Hưng Đạo, Phường Cầu Kho, Quận 1, Hồ Chí Minh",
                    "Quantity": "-55"
                },
                {
                    "LocationId": "571540",
                    "LocationName": "",
                    "LocationAddress": "",
                    "Quantity": "20"
                },
                {
                    "LocationId": "575274",
                    "LocationName": "Chi nhánh Biên Hòa",
                    "LocationAddress": "157 Phan Trung, P.Tân Mai, TP.Biên Hòa, Phường Tân Mai, Thành phố Biên Hòa, Đồng Nai",
                    "Quantity": "27"
                },
                {
                    "LocationId": "575278",
                    "LocationName": "Chi nhánh Cần Thơ",
                    "LocationAddress": "35 Trần Phú, P.Cái Khế, Q.Ninh Kiều, TP.Cần Thơ, Phường Cái Khế, Quận Ninh Kiều, Cần Thơ",
                    "Quantity": "23"
                },
                {
                    "LocationId": "608568",
                    "LocationName": "Chi nhánh Đà Nẵng",
                    "LocationAddress": "144 Lý Tự Trọng, P.Thuận Phước, Đà Nẵng, Phường Thuận Phước, Quận Hải Châu, Đà Nẵng",
                    "Quantity": "7"
                },
                {
                    "LocationId": "651102",
                    "LocationName": "Chi nhánh Gò Vấp",
                    "LocationAddress": "94 Lê Văn Thọ, P.11, Q.Gò Vấp, Phường 11, Quận Gò Vấp, Hồ Chí Minh",
                    "Quantity": "27"
                },
                {
                    "LocationId": "674216",
                    "LocationName": "ONLINE WAREHOUSE",
                    "LocationAddress": "Online, Phường Cầu Kho, Quận 1, Hồ Chí Minh",
                    "Quantity": "23"
                }
            ]
        }
        spDataNew.push(data);
    
    script(src='/js/swatch-init.js')

