extends ../layout.pug

block content
    h1.hidden PAPAZI
    if result && result[3] && result[3].length > 0

        //.layer-slider.text-center
        //    img(src=pageInfo['layer-slider'])
        .wrap-banner
            img.hidden-lg(src=`${pageInfo['after-slider']}`)
            img.desktop-only(src=`${pageInfo['after-slider-desktop']}`)
        .category-carousel
            //.view-more-slider
            //    a(href="/san-pham/") Xem thêm
            .owl-carousel.owl-theme
                each category, index in result[3]
                    .item
                        a.cat-box(href=fn.linkCategoryIdList(category.slug) target="_blank")
                            img(title='' alt='' src=category.avatar)
                            span #{category.name}
            .text-center
                a.btn-style1(href="/san-pham/") Xem thêm

        //.home-banner
        //    img(title='' alt='' src=pageInfo['home-slider'])

    //.container
    //    .row
    //    each category, index in result[3]
    //        .col-md-4.col-xs-12
    //            a.cat-box(href=fn.linkCategoryIdList(category.slug) target="_blank")
    //                img(title='' alt='' src=category.avatar)
    //                span #{category.name}
            // Nhóm banner
            // Nhóm sản phẩm 2
    .wrapper-collection-sale
        //Nhóm sản phẩm 1
        section.section.section-collection
            .new-product-home.animation-tran.text-center
                .container-fluid
                    .site-animation
                        h2.sp-moititle
                            a(href=fn.linkProduct())
                                | New Arrivals
            .wrapper-collection-1
                .container-fluid
                    .row
                        .clearfix.content-product-list
                            if result && result[1] && result[1].length > 0
                                each product, index in result[1]
                                    .col-md-3.col-sm-6.col-xs-6.pro-loop.index-loop-mb.animation-tran
                                        .product-block.product-resize.site-animation(data-anmation='1')
                                            .product-img
                                                a.image-resize(href=fn.linkId(product.slug) title=product.name)
                                                    if !product.avatar
                                                        picture
                                                            source(media='(max-width: 767px)' srcset="/images/default-image.png")
                                                            source(media='(min-width: 768px)' srcset="/images/default-image.png")
                                                            img.img-loop(alt=' Boxer ICON DENIM 3D logo ' src="/images/default-image.png")
                                                        picture
                                                            source(media='(max-width: 767px)' srcset="/images/default-image.png")
                                                            source(media='(min-width: 768px)' srcset="/images/default-image.png")
                                                            img.img-loop.img-hover(alt=product.name src="/images/default-image.png")
                                                    else
                                                        picture
                                                            source(media='(max-width: 767px)' srcset=product.avatar)
                                                            source(media='(min-width: 768px)' srcset=product.avatar)
                                                            img.img-loop(alt=' Boxer ICON DENIM 3D logo ' src=product.avatar)
                                                        picture
                                                            source(media='(max-width: 767px)' srcset=product.avatar)
                                                            source(media='(min-width: 768px)' srcset=product.avatar)
                                                            img.img-loop.img-hover(alt=product.name src=product.avatar)

                                                .button-add.hidden
                                                    //- button.action(type='submit' title='Buy now' onclick="buy_now(product.id)")
                                                    //-     | Mua ngay
                                                    //-     i.fa.fa-long-arrow-right
                                            .product-detail.clearfix
                                                .box-pro-detail
                                                    h3.pro-name
                                                        a(href=fn.linkId(product.slug) title=product.name)
                                                            | #{ product.name }
                                                    .box-pro-prices
                                                        p.pro-price
                                                            span.giaban #{ product.price }
                                                            if product.price < product.old_price
                                                                span.pro-price-del
                                                                    del.compare-price #{ product.old_price }

        // Về chúng tôi
        section.wrapper-home-information.animation-tran
            .container-fluid
                .row.row-flex-container
                    .col-md-12.col-sm-12.col-xs-12.wrap-pd-infor
                        .site-animation.homeStore
                            .contentHomeStore
                                .textStore
                                    a(href='' title='Xem tất cả') XEM TẤT CẢ
    // instagram
    section.section-instagram
        .container-fluid(style='padding:0')
            .wrapper-heading-home.site-animation
                h2 FEEDBACK
            .row
                .col-xs-12
                    .owl-gallery.owl-carousel

                        .gallery_item
                            picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback_oatp9s.jpg")
                                source(media='(max-width:991px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback_oatp9s.jpg")
                                source(media='(min-width: 992px' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback_oatp9s.jpg")
                                source(media='(min-width: 1440px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback_oatp9s.jpg")
                                img(src="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback_oatp9s.jpg" alt='feedback 1')
                        .gallery_item
                            picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback5_jtnkim.jpg")
                                source(media='(max-width:991px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback5_jtnkim.jpg")
                                source(media='(min-width: 992px' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback5_jtnkim.jpg")
                                source(media='(min-width: 1440px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback5_jtnkim.jpg")
                                img(src="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback5_jtnkim.jpg" alt='feedback 1')
                        .gallery_item
                            picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback3_mkfa4w.jpg")
                                source(media='(max-width:991px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback3_mkfa4w.jpg")
                                source(media='(min-width: 992px' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback3_mkfa4w.jpg")
                                source(media='(min-width: 1440px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback3_mkfa4w.jpg")
                                img(src="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback3_mkfa4w.jpg" alt='feedback 1')
                        .gallery_item
                            picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback6_ovojoc.jpg")
                                source(media='(max-width:991px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback6_ovojoc.jpg")
                                source(media='(min-width: 992px' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback6_ovojoc.jpg")
                                source(media='(min-width: 1440px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback6_ovojoc.jpg")
                                img(src="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback6_ovojoc.jpg" alt='feedback 1')
                        .gallery_item
                            picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback2_ikjrqy.jpg")
                                source(media='(max-width:991px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback2_ikjrqy.jpg")
                                source(media='(min-width: 992px' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback2_ikjrqy.jpg")
                                source(media='(min-width: 1440px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback2_ikjrqy.jpg")
                                img(src="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback2_ikjrqy.jpg" alt='feedback 1')
                        .gallery_item
                            picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback8_fuv2dz.jpg")
                                source(media='(max-width:991px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback8_fuv2dz.jpg")
                                source(media='(min-width: 992px' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback8_fuv2dz.jpg")
                                source(media='(min-width: 1440px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback8_fuv2dz.jpg")
                                img(src="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback8_fuv2dz.jpg" alt='feedback 1')
                        .gallery_item
                            picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback7_tevf3o.jpg")
                                source(media='(max-width:991px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback7_tevf3o.jpg")
                                source(media='(min-width: 992px' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback7_tevf3o.jpg")
                                source(media='(min-width: 1440px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback7_tevf3o.jpg")
                                img(src="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback7_tevf3o.jpg" alt='feedback 1')
                        .gallery_item
                            picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback9_n3vch6.jpg")
                                source(media='(max-width:991px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback9_n3vch6.jpg")
                                source(media='(min-width: 992px' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback9_n3vch6.jpg")
                                source(media='(min-width: 1440px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback9_n3vch6.jpg")
                                img(src="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback9_n3vch6.jpg" alt='feedback 1')

                        .gallery_item
                            picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback4_woiakx.jpg")
                                source(media='(max-width:991px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback4_woiakx.jpg")
                                source(media='(min-width: 992px' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback4_woiakx.jpg")
                                source(media='(min-width: 1440px)' srcset="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback4_woiakx.jpg")
                                img(src="https://res.cloudinary.com/tacado/image/upload/v1604138611/feedback4_woiakx.jpg" alt='feedback 1')



//- .gallery_item
//-     picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href='//theme.hstatic.net/1000253775/1000529442/14/instagram_12_img_large.jpg?v=97')
//-         source(media='(max-width:991px)' srcset='//theme.hstatic.net/1000253775/1000529442/14/instagram_12_img_medium.jpg?v=97')
//-         source(media='(min-width: 992px' srcset='//theme.hstatic.net/1000253775/1000529442/14/instagram_12_img_medium.jpg?v=97')
//-         source(media='(min-width: 1440px)' srcset='//theme.hstatic.net/1000253775/1000529442/14/instagram_12_img_large.jpg?v=97')
//-         img(src='//theme.hstatic.net/1000253775/1000529442/14/instagram_12_img_large.jpg?v=97' alt='feedback 12')
                        //- .gallery_item
                        //-     picture.fancybox-thumb(data-fancybox='group' data-fancybox-group='group' href='//theme.hstatic.net/1000253775/1000529442/14/instagram_12_img_large.jpg?v=97')
                        //-         source(media='(max-width:991px)' srcset='//theme.hstatic.net/1000253775/1000529442/14/instagram_12_img_medium.jpg?v=97')
                        //-         source(media='(min-width: 992px' srcset='//theme.hstatic.net/1000253775/1000529442/14/instagram_12_img_medium.jpg?v=97')
                        //-         source(media='(min-width: 1440px)' srcset='//theme.hstatic.net/1000253775/1000529442/14/instagram_12_img_large.jpg?v=97')
                        //-         img(src='//theme.hstatic.net/1000253775/1000529442/14/instagram_12_img_large.jpg?v=97' alt='feedback 12')